.intro {
    margin-bottom: 2em;
    padding-left: 1em;
}

table {
    width: 100%;
}

td {
    text-align: center;
}

th.mat-sort-header-sorted {
    color: black;
}

td.positivo {
    color: green
}

td.negativo {
    color: red
}

.rentabilidad {
    padding-left: 1em;
}