<div class="formGroup">
    <form [formGroup]="ventaForm" (ngSubmit)="onSubmit()" autocomplete="on">
      <mat-select formControlName="empresa" (selectionChange)="getImporte($event.value)">
        <mat-option hidden value="" disabled selected>Empresa </mat-option>
        <mat-option *ngFor="let empresa of empresas" [value]="empresa">
          {{empresa.empresa}}
        </mat-option>
      </mat-select>
      <br>
      <input type="date" formControlName="fecha" placeholder="fecha"/>
      <input type="number" formControlName="importe" placeholder="importe" value="{{ importe | number : '1.2-2' }}" readonly="true"  />
      <button type="submit" [disabled]="!ventaForm.valid">
        Vender
      </button>
    </form>
  </div>