.formGroup{
    float: left;
    padding: 15px;
    border: 1px solid;
    border-radius: 10px;
    border-color: dodgerblue;
}

button {
    float: left;
    margin-top: 1em;
    margin-left: 32%;
    cursor: pointer;
}