<h3>Venta</h3>

<div class="formGroup">
    <form [formGroup]="ventaForm" (ngSubmit)="onSubmit()" autocomplete="on">
      <p>Escoge una accion de tu cartera (*):</p>
      <mat-select formControlName="empresa" (selectionChange)="getImporte($event.value)">
        <mat-option hidden value="" disabled selected>Empresa </mat-option>
        <mat-option *ngFor="let accion of cartera" [value]="accion">
          {{accion.empresa}}
        </mat-option>
      </mat-select>
      <br>
      <p>Selecciona la fecha de operación (*):</p>
      <input type="date" formControlName="fecha" placeholder="Fecha"/>
      <p>El importe total de la operación es de: </p>
      <input type="number" formControlName="importe" placeholder="Importe" value="{{ importe | number : '1.2-2' }}" readonly="true"  />
      <br>
      <button type="submit" [disabled]="!ventaForm.valid">
        Vender
      </button>
    </form>
  </div>
  <p>(*) Obligatorio</p>
