.main-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    background-image: url('../../../assets/wallpaper.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
  }
  
  .formulario {
    margin-top: 10em;
  }

  
  .formGroup {
    display: flex;
    justify-content: center;
    margin-top: 2%;
    padding-right: 20px;
  }
  
  .formGroup input {
    color: white;
    background-color:#3399ff;
    height: 40%;
    border-radius: 10px;
    box-sizing: border-box;
    padding-left: 10px;
  }
  
  .formGroup button {
    display: block;
    margin: auto;
    width: -moz-available;
    height: 40%;
    color: white;
    background-color: #3399ff;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 1em;
    margin-bottom: 1em;
  }
  
  .formGroup button[disabled] {
    margin-top: 1em;
    background-color: #99ccff;
    cursor: auto;
  }

  a {
    color: white;
  }
  
  ::placeholder{
    color: white;
  }