<header>
    <button mat-button [matMenuTriggerFor]="menu">Menu</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink='cartera'>Cartera 
        <span class="material-icons">insert_chart_outlined</span>
      </button>
      <button mat-menu-item routerLink='compra'>Compra
        <span class="material-icons">shopping_cart</span>
      </button>
      <button mat-menu-item routerLink='venta'>Venta
        <span class="material-icons"> attach_money</span>
      </button>
      <button mat-menu-item (click)="logOut()">Salir
        <span class="material-icons">login</span>
      </button>
    </mat-menu>
</header>

<div class="main-container">
  <router-outlet></router-outlet>
</div>

<footer>
    <p>Práctica final DEPI. Curso 19/20</p>
    <p>Autor: Jesús Galán Llano. <a href="mailto:100318687@alumnos.uc3m.es">100318687@alumnos.uc3m.es</a></p>
</footer>