header {
    background-color: #99ccff;
    height: 5%;
}

span {
    vertical-align: middle;
}

.main-container {
    height: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.main-container::after {
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    content: "";
    background-image: url('../../../assets/wallpaper.jpg');
    opacity: 0.2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
  }

footer {
    height: 18%;
    background-color: #99ccff;
    color: black;
    padding: 20px;
}